@use 'modules/color_theme' as color;

.pagination {
  margin: 30px;
  padding: 0px 0 56px 0;
  text-align: center;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 13px;

    &-item {
      margin: 0 2px 0 2px;
      display: inline;
      line-height: 1;
      text-decoration: none;

      @include color.themed() {
        color: color.t('primary');
      }

      .page-link {
        display: inline-block;
        min-width: 24px;
        min-height: 24px;
        padding: 4px;

        &:focus-visible {
          outline: 2px solid;
          outline-offset: 2px;

          @include color.themed() {
            outline-color: color.t('info');
          }
        }
      }
    }
  }
}
