@use 'modules/color_theme' as color;

.themeswitch {
  margin-top: -5px;
  font-size: 1.75rem;

  &__button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;

    @include color.themed() {
      color: color.t('primary');
    }

    &:focus-visible {
      outline: 2px solid;
      outline-offset: 2px;

      @include color.themed() {
        outline-color: color.t('info');
      }
    }
  }
}
